<div class="settings-container">
  <form [formGroup]="form" class="settings-container">
    <label>
      Timer, ms
      <input formControlName="interval" type="number" />
    </label>

    <label>
      Array size
      <input formControlName="arraySize" type="number" />
    </label>

    <label>
      Additional Array IDs (comma-separated)
      <input formControlName="additionalIds" type="text" placeholder="e.g., 101, 102, 103" />
    </label>
  </form>
</div>

<table>
  <thead>
  <tr>
    <th>id</th>
    <th>int</th>
    <th>float</th>
    <th>color</th>
    <th>child</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let item of data; trackBy: trackById">
    <td>{{ item.id }}</td>
    <td>{{ item.int }}</td>
    <td>{{ item.float }}</td>
    <td [style.background-color]="item.color">{{ item.color }}</td>

    <td>
      <table style="width: 100%;">
        <thead>
        <tr>
          <th>id</th>
          <th>color</th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <td>{{ item.child.id }}</td>
          <td [style.background-color]="item.child.color">{{ item.child.color }}</td>
        </tr>
        </tbody>
      </table>
    </td>
  </tr>
  </tbody>
</table>
